<div data-page="aanmelden" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="index.html" class="link icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Aanmelden</div>
      </div>
    </div>

    <div class="page-content">
    	<form id="aanmeldenform">
		<div class="list-block">
			  <ul>
			    <!-- Text inputs -->
			    <li>
			      <div class="item-content">
			      	<div class="item-media"><i class="icon ion-android-person"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <input id="firstname" class="name" type="text" placeholder="Voornaam" required autofocus>
			          </div>
			        </div>
			      </div>
			    </li>

			    <li>
			      <div class="item-content">
			      	<div class="item-media"><i class="icon ion-android-person"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <input id="lastname" class="name" type="text" placeholder="Achternaam" required="">
			          </div>
			        </div>
			      </div>
			    </li>

			    <li>
			      <div class="item-content">
			      	<div class="item-media"><i class="icon ion-android-mail"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <input type="email" id="email" placeholder="Email" required>
			          </div>
			        </div>
			      </div>
			    </li>

			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon ion-easel"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <select id="school" required>
			              	<option value="">Kies je school</option>
			            </select>
			          </div>
			        </div>
			      </div>
			    </li>

			  </ul>
			</div>

			<div class="list-block">
			  <ul>
			    <!-- Text inputs -->
				<li>
			      <div class="item-content">
			        <div class="item-media"><i class="icon ion-man"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <select id="gender" required="">
			              	<option value="">Kies gender</option>
			              	<option value="male">Man</option>
							<option value="female">Vrouw</option>
			            </select>
			          </div>
			        </div>
			      </div>
			    </li>

			    <li>
			      <div class="item-content">
			        <div class="item-media"><i class="ion-ios-calendar-outline"></i></div>
			        <div class="item-inner">
			          <div class="item-title label">Geboren op</div>
			          <div class="item-input">
			            <input type="date" id="birth_date" placeholder="Geboortedatum" value="" required="">
			          </div>
			        </div>
			      </div>
			    </li>

			    <li>
			      <div class="item-content">
			      	<div class="item-media"><i class="icon ion-android-call"></i></div>
			        <div class="item-inner">
			          <div class="item-input">
			            <input type="number" id="number" placeholder="Mobielnummer" required="">
			          </div>
			        </div>
			      </div>
			    </li>
			    
			  </ul>
			</div>
			

			<div class="list-block">
				<ul>
					
				    <li>
				      <div class="item-content">
				      	<div class="item-media"><i class="icon ion-android-lock"></i></div>
				        <div class="item-inner">
				          <div class="item-input">
				            <input id="password" type="password" placeholder="Wachtwoord" required>
				          </div>
				        </div>
				      </div>
				    </li>
				    <p id="pass_error" class="color-red error">wachtwoord te kort</p>

				    <li>
				      <div class="item-content">
				      	<div class="item-media"><i class="icon ion-android-lock"></i></div>
				        <div class="item-inner">
				          <div class="item-input">
				            <input id="conf_password" type="password" placeholder="Bevestig Wachtwoord" required>
				          </div>
				        </div>
				      </div>
				    </li>
				    <p id="passconf_error" class="color-red error">wachtwoorden niet hetzelfde</p>

				</ul>
			</div>

			<div class="content-block inset">
				<div class="content-block-inner">
					<!-- <p>By creating an account you agree to the <a href="views/termsofuse.html">Terms of Use</a> and you acknowledge that you have read the <a href="views/privacypolicy.html">Privacy Policy</a></p> -->

			        <!-- <a href="#" id="registreren" class="button bg-green color-white">Registreren</a> -->
			        <input type="submit" class="button bg-green color-white" value="Registreren">
			        <p id="aanmelden_error" class="color-red error">error</p>
				</div>
		    </div>
		    </form>
		</div>
</div>
