<div data-page="advertentie" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="open-panel link icon-only"><i class="icon ion-android-menu"></i></a></div>
        <div class="center">Deals</div>
      </div>
    </div>

      <div class="page-content" id="advertenties">
        
        <!-- Deal -->
        <!-- <div class="card deal_item" data-item-id="1">
          <div class="card-content">
            <p class="text_center deal_title">deal title</p>
            <img src="http://lorempixel.com/400/200/food" width="100%">
          </div>
        </div> -->
        <!-- End Deal -->

        <!-- Deal -->
        <!-- <div class="card deal_item" data-item-id="2">
          <div class="card-content">
            <p class="text_center deal_title">deal title 2</p>
            <img src="http://lorempixel.com/400/200/fashion" width="100%">
          </div>
        </div> -->
        <!-- End Deal -->

    </div>

</div>