<div data-page="bos" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">BOS</div>
      </div>
    </div>

    	<div class="page-content">
        <!-- swiper slider -->
        <div class="swiper-container swiper_msp swiper_bos">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="dir/img/msp/img1.jpg"></div>
              <div class="swiper-slide"><img src="dir/img/msp/img2.jpg"></div>
              <div class="swiper-slide"><img src="dir/img/msp/img3.jpg"></div>
              <div class="swiper-slide"><img src="dir/img/msp/img4.jpg"></div>
            </div>
        </div>

        <div class="list-block accordion-list inset">
          <ul>
              <li class="accordion-item">
                  <a href="" class="item-link item-content bg-green color-white">
                      <div class="item-inner">
                          <div class="item-title">BOS Contact</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content" id="bos_contact">
                      <div class="content-block">
                        <h3 class="text_center">Bureau Onderwijs Informatie en Studiefaciliteiten</h3>
                      </div>
                      
                      <!-- <div class="list-block">
                        <ul>
                          <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-pin"></i></div>
                          <div class="item-inner">
                            <div class="item-title"> --><!-- adres --><!-- </div>
                          </div>
                        </li>
                        <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-call"></i></div>
                          <div class="item-inner">
                            <div class="item-title"> --><!-- telefoon --><!-- </div>
                          </div>
                        </li>
                        <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-mail"></i></div>
                          <div class="item-inner">
                            <div class="item-title"> --><!-- email --><!-- </div>
                          </div>
                        </li>
                        <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-globe"></i></div>
                          <div class="item-inner">
                            <div class="item-title"> --><!-- website --><!-- </div>
                          </div>
                        </li>
                        </ul>
                      </div> -->
                  </div>
              </li>
          </ul>
      </div>

      <div class="list-block inset">
        <ul>
          <li>
            <a href="views/bos_nieuws.html" class="item-link item-content bg-green color-white">
              <div class="item-inner">
                <div class="item-title text_capitalize">BOS Nieuws</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="list-block inset">
        <ul>
          <li>
            <a href="views/studietoelage_aanvraag.html" class="item-link item-content bg-green color-white">
              <div class="item-inner">
                <div class="item-title text_capitalize">studie toelage aanvraag</div>
              </div>
            </a>
          </li>

          <li>
            <a href="views/studiebeurs_aanvraag.html" class="item-link item-content bg-green color-white">
              <div class="item-inner">
                <div class="item-title text_capitalize">studie beurs aanvraag</div>
              </div>
            </a>
          </li>

          <li>
            <a href="views/studievervoer_aanvraag.html" class="item-link item-content bg-green color-white">
              <div class="item-inner">
                <div class="item-title text_capitalize">school vervoer aanvraag</div>
              </div>
            </a>
          </li>
        </ul>
      </div>

		</div>

</div>