<div data-page="bos_nieuws" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">BOS Nieuws</div>
      </div>
    </div>

    	<div class="page-content">
      <!-- swiper slider -->
        <div class="swiper-container swiper_msp swiper_bos_nieuws">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="dir/img/msp/img1.jpg"></div>
            <div class="swiper-slide"><img src="dir/img/msp/img2.jpg"></div>
            <div class="swiper-slide"><img src="dir/img/msp/img3.jpg"></div>
            <div class="swiper-slide"><img src="dir/img/msp/img4.jpg"></div>
          </div>
        </div>

        <div class="list-block media-list nieuws_lijst">
            <ul id="bos_posts">
                <!-- Nieuws appended here -->
            </ul>
        </div> 

		</div>

</div>