<div data-page="faq" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">FAQ</div>
      </div>
    </div>

    <!-- Search Bar -->
    <form data-search-list=".list-block-search" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-input">
            <input type="search" placeholder="Zoek op trefwoord">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Annuleer</a>
    </form>
    
    <!-- Search Bar overlay-->
    <div class="searchbar-overlay"></div>

    <div class="page-content">
        <div class="content-block searchbar-not-found">
            Niets gevonden
        </div>

      <div class="list-block list-block-search searchbar-found accordion-list" id="faq_content">
        <!-- <ul>
          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Question 1</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque minus facere eligendi enim, iure soluta natus distinctio cumque, sapiente quaerat excepturi illum labore? Nihil consequuntur aliquam ratione quia voluptate, non!</p>
              </div>
            </div>
          </li>

          <li class="accordion-item"><a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">Question 2</div>
              </div></a>
            <div class="accordion-item-content">
              <div class="content-block">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ab architecto autem vitae quo et placeat eaque porro ipsum aliquam, magni quis, fuga animi, nihil laboriosam reprehenderit iusto doloribus vero!</p>
              </div>
            </div>
          </li>
        </ul> -->
      </div>

    </div>

</div>
