<div data-page="instellingen" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Instellingen</div>
      </div>
    </div>

      <div class="page-content">

      <div class="list-block">
        <ul>
          <li>
            <a href="views/faq.html" class="item-link">
              <div class="item-content">
                <div class="item-media color-green"><i class="icon ion-android-textsms"></i></div>
                <div class="item-inner">
                  <div class="item-title">FAQ</div>
                </div>
              </div>
            </a>
          </li>
          
          <li>
            <a href="views/mijn_profiel.html?exit=instellingen" class="item-link">
              <div class="item-content">
                <div class="item-media color-green"><i class="icon ion-android-person"></i></div>
                <div class="item-inner">
                  <div class="item-title">Profiel</div>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="views/notifications.html" class="item-link">
              <div class="item-content">
                <div class="item-media color-green"><i class="icon ion-android-notifications"></i></div>
                <div class="item-inner">
                  <div class="item-title">Notifications</div>
                </div>
              </div>
            </a>
          </li>

          <li>
            <a href="views/over_msp.html" class="item-link">
              <div class="item-content">
                <div class="item-media color-green"><i class="icon ion-android-alert"></i></div>
                <div class="item-inner">
                  <div class="item-title">Over MSP</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      </div>
</div>
