<div data-page="mijn_profiel" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Mijn Profiel</div>
      </div>
    </div>

    <div class="page-content">
    	<form id="mijn_profiel_edit">
    		<div class="list-block">
			<li class="item-content">
		      	<div class="item-media"><i class="icon ion-android-person"></i></div>
		        <div class="item-inner">
		          <div class="item-title">
		            <input id="firstname" type="text" placeholder="Gebruikersnaam" value="">
		          </div>
		        </div>
		    </li>
	    	<li class="item-content">
		      	<div class="item-media"><i class="icon ion-android-person"></i></div>
		        <div class="item-inner">
		          <div class="item-title">
		            <input id="lastname" type="text" placeholder="Gebruikersnaam" value="">
		          </div>
		        </div>
		    </li>
	    	<li class="item-content">
		      	<div class="item-media"><i class="icon ion-android-call "></i></div>
		        <div class="item-inner">
		          <div class="item-title">
		            <input id="number" type="number" placeholder="Mobielnummer">
		          </div>
		        </div>
		    </li>

		    <li class="item-content">
		      	<div class="item-media"><i class="icon ion-android-mail"></i></div>
		        <div class="item-inner">
		          <div class="item-title">
		            <input id="email" type="email" placeholder="Email">
		          </div>
		        </div>
		    </li>

		    <li class="item-content">
	        <div class="item-media"><i class="icon ion-easel"></i></div>
	        <div class="item-inner">
	          <div class="item-title">
	            <select id="school">
	            </select>
	          </div>
	        </div>
		    </li>

    		</div>
		    
		    <div class="content-block">
		    	<input type="submit" class="button button-fill color-red" value="Opslaan">
				<a class="button color-red" id="account_sluiten" style="margin-top: 50px; font-size: .9em;">Account sluiten</a>
			</div>
    	</form>
</div>