<div data-page="msp_nieuws" class="page">

	<div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="open-panel link icon-only"><i class="icon ion-android-menu"></i></a></div>
        <div class="center">MSP Nieuws</div>
      </div>
    </div>

	<div class="page-content">
		<!-- swiper slider -->
		<div class="swiper-container swiper_msp swiper_msp_nieuws">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="dir/img/msp/img1.jpg"></div>
				<div class="swiper-slide"><img src="dir/img/msp/img2.jpg"></div>
				<div class="swiper-slide"><img src="dir/img/msp/img3.jpg"></div>
				<div class="swiper-slide"><img src="dir/img/msp/img4.jpg"></div>
			</div>
		</div>

		<div class="list-block media-list nieuws_lijst">
			<ul id="msp_nieuws_all">
				<!-- Nieuws appended here -->
			</ul>
		</div>   
	</div>

<!-- 	<div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="toolbar-icon ion-android-home"></i></a>
      </div>
    </div>
 -->
</div>