<div data-page="notifications" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Notifications</div>
      </div>
    </div>

      <div class="page-content">
      
        <form id="notifications" class="list-block">
          <ul>
            <li>
                <div class="item-content">
                  <div class="item-media"><img src="dir/img/logo.png"></div>
                  <div class="item-inner">
                    <div class="item-title label">MSP Nieuws</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="msp">
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </li>

<!--               <li>
                <div class="item-content">
                  <div class="item-media"><img src="dir/img/logobos.png"></div>
                  <div class="item-inner">
                    <div class="item-title label">Bos Nieuws</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="bos">
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </li> -->

              <li>
                <div class="item-content">
                  <div class="item-media"><i class="icon ion-university"></i></div>
                  <div class="item-inner">
                    <div class="item-title label">School Nieuws</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="school">
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="item-content">
                  <div class="item-media"><img src="dir/img/gift-black.png"></i></div>
                  <div class="item-inner">
                    <div class="item-title label">Advertenties</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="ads">
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
              </li>
          </ul>
        </form>

        <div class="content-block">
          <div class="row">
            <div class="col-auto">
              <a href="#" class="button back button-fill color-red">
                Annuleren
              </a>
            </div> 
            <div class="col-auto">
              <a href="" class="button button-fill color-green" id="opslaan">
                Opslaan
              </a>
            </div>
          </div>

        </div>

      </div>

</div>
