<div data-page="scholen" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link icon-only open-panel"><i class="icon ion-android-menu"></i></a></div>
        <div class="center">Scholen</div>
      </div>
    </div>

    <div class="page-content">
        <i class="vinger ion-android-hand"></i>
        <!-- swiper slider -->
        <div class="swiper-container swiper_scholen">
          <div class="swiper-wrapper">

          <!-- start slide 1 -->
            <div class="swiper-slide">
            	<div class="natin">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/natin.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>NATUUR TECHNISCH INSTITUUT</h4>
                	<h4>Middelbare Beroeps Opleidingen</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">J. Lachmonstraat 180-182</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">490497 / 490579 / 498737</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">natin@sr.net</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">www.natin.sr</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 1 -->

            <!-- start slide 2 -->
            <div class="swiper-slide">
            	<div class="havo3">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/havo3.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>OPENBAAR ATHENEUM (HAVO-3)</h4>
                	<h4>Hoger Algemeen Voortgezet Onderwijs</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">Leysweg 103</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">499519 <strong>Fax: </strong>438543</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">havo111@hotmail.com</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 2 -->

            <!-- start slide 3 -->
            <div class="swiper-slide">
            	<div class="havo1">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/havo1.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>OPENBAAR ARHENEUM (HAVO-1)</h4>
                	<h4>Hoger Algemeen Voortgezet Onderwijs</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">Margrietstraat 4</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">401064 <strong>Fax: </strong>401034</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">openath@sr.net</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 3 -->

            <!-- start slide 4 -->
            <div class="swiper-slide">
            	<div class="lyco1">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/lyco1.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>MR.DR.J.C DE MIRANDA LYCEUM (LYCO-1)</h4>
                	<h4>Voorbereidend Wetenschappelijk Onderwijs</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">Passiebloemstraat 4</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">401059 / 401073 <strong>Fax: </strong>401048</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 4 -->

            <!-- start slide 5 -->
            <div class="swiper-slide">
            	<div class="ams">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/ams.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>ALGEMENE MIDDELBARE SCHOOL</h4>
                	<h4>Voorbereidend Wetenschappelijk Onderwijs</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">Marrowijnestraat 20</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">400113 <strong>Fax: </strong>400241</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">ams.1950@hotmail.com</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 5 -->

            <!-- start slide 6 -->
            <div class="swiper-slide">
            	<div class="lyco2">
            		<a href="views/scholenstartpagina.html">
            			<img src="dir/img/msp/lyco2.png" class="scholen-logo">
            		</a>
            	</div>
            	<div class="scholen_naam">
        			<h4>Ewald P. Meyer Lyceum(LYCO 2)</h4>
                	<h4>Voorbereidend Wetenschappelijk Onderwijs</h4>
        		</div>
            	<div class="list-block">
            		<ul>
            			<li class="item-content">
				          <div class="item-media"><i class="icon ion-android-pin"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-call"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-mail"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
				        <li class="item-content">
				          <div class="item-media"><i class="icon ion-android-globe"></i></div>
				          <div class="item-inner">
				            <div class="item-title">-</div>
				          </div>
				        </li>
            		</ul>
                </div>
            </div>
            <!-- end slide 6 -->

          </div>
        </div>

    </div>

    <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link with_border_right"><i class="icon ion-pricetags"></i></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link img_icon"><img src="dir/img/logo.png"></a>
      </div>
    </div>
    
</div>