<div data-page="scholen" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link icon-only open-panel"><i class="icon ion-android-menu"></i></a></div>
        <div class="center">Scholen</div>
      </div>
    </div>

    <div class="page-content">
      <i class="vinger ion-android-hand"></i>
        <!-- swiper slider -->
        <div class="swiper-container swiper_scholen" style="height: 100%">
        	<div class="swiper-pagination" style="bottom: 10%"></div>
          <div class="swiper-wrapper scholenAll">

          </div>
        </div>

    </div>

<!--     <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
      </div>
    </div> -->
    
  </div>