<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<head>
  
  <link rel="stylesheet" href="pdf.js/web/viewer.css"/>
  <script src="pdf.js/web/compatibility.js"></script>

  <!-- This snippet is used in production (included from viewer.html) -->
  <link rel="resource" type="application/l10n" href="locale/locale.properties"/>
  <script src="pdf.js/web/l10n.js"></script>
  <script src="pdf.js/build/pdf.js"></script>

  <script src="pdf.js/web/debugger.js"></script>
  <script src="pdf.js/web/viewer.js"></script>

</head>

<div data-page="school_rooster" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Rooster</div>
        <div class="right"><a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon ion-android-menu"></i></a></div>
      </div>
    </div>

    <div class="page-content" id="school_roosters">

      <!-- <object data="dir/res/sample.pdf" type="application/pdf" width="100%" height="100%">
        <div class="content-block">
          <div class="content-block-inenr">
            <p>Je mobiel ondersteunt geen PDF lezer. Geen nood! download de PDF hier</p>
            <a href="dir/res/sample.pdf" target="_blank" class="button color-green">Download rooster</a>
          </div>
        </div>
      </object> -->

      <!-- <object data="dir/res/sample.pdf" type="application/pdf" width="100%" height="100%">
        <div class="content-block">
          <div class="content-block-inenr">
            <p>Je mobiel ondersteunt geen PDF lezer. Geen nood! download de PDF hier</p>
            <a href="dir/res/sample.pdf" target="_blank" class="button color-green">Download rooster</a>
          </div>
        </div>
      </object> -->

      <!-- <div class="content-block">
        <div class="content-block-inenr">
          <p>Je mobiel ondersteunt geen PDF lezer. Geen nood! download de PDF hier</p>
          <a link="http://miskoropasie.sr/msp_api/uploads/pdf/Diktaat-WiskundevoorhetNATIN-1eleerjaar2.pdf" onclick="openpdf(this)">PDF</a>
        </div>
      </div> -->

      <!-- <a href="views/pdf.js/web/viewer.html">PDF</a> -->
      
		</div>

    <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
      </div>
    </div>

	</div>
</div>