<div data-page="school_regelement" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Regelement</div>
        <div class="right"><a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon ion-android-menu"></i></a></div>
      </div>
    </div>

    	<div class="page-content">

        <div class="content-block" id="reglement_content">
          <!-- <a href="dir/res/sample.pdf" target="_blank" class="button bg-white color-red external">Lees het schoolregelement</a> -->
        </div>

		</div>

    <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
      </div>
    </div>

</div>