<div data-page="school_events" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Events</div>
        <div class="right"><a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon ion-android-menu"></i></a></div>
      </div>
    </div>

    	<div class="page-content" id="school_events">
        
        <!-- <div class="content-block">
          <div class="card">
            <div class="card-header event_head">
              <div class="content-block" style="width:100%; padding:0 !important">
                <div class="row">
                  <div class="col-100">
                    <div class="list-block inset event_list">
                      <ul>
                        <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-calendar"></i></div>
                          <div class="item-inner text_uppercase">
                            <div class="item-title">12 december 2016</div> --><!-- event date -->
                          <!-- </div>
                        </li>
                        <li class="item-content">
                          <div class="item-media"><i class="icon ion-android-time"></i></div>
                          <div class="item-inner">
                            <div class="item-title">16:30</div> --><!-- event time -->
                          <!-- </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-content">
              <div class="card-content-inner">
                <div class="row">
                  <div class="col-40">
                    <img src="dir/img/i-f7-ios.png" alt="event-image" width="100%">
                  </div>
                  <div class="col-60 text_capitalize">
                    <h1>event met een normale titel</h1> --><!-- event titel -->
                  <!-- </div>
                </div>
                <p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eius cupiditate cum officiis, eum esse aperiam voluptatum. Molestias earum perferendis quibusdam similique magnam facere nostrum laboriosam ab rem? Ducimus, beatae?</p>
              </div> --><!-- event beschrijving -->
            <!-- </div>
            <div class="card-footer event_footer">
              <div class="row">
                <div class="col-100">
                  <div class="list-block color-black inset event_list">
                    <ul>
                      <li class="item-content">
                        <div class="item-media"><i class="icon ion-android-pin"></i></div>
                        <div class="item-inner text_capitalize">
                          <p>Johan Adolf Pengelstraat #113, Paramaribo</p> --><!-- event adres -->
                        <!-- </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
          </div> 
        </div> -->

		</div>

    <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
      </div>
    </div>

</div>