<div data-page="school_richting" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Richtingen</div>
        <div class="right"><a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon ion-android-menu"></i></a></div>
      </div>
    </div>

    	<div class="page-content">
        
        <div class="list-block accordion-list inset" id="richtingen_content">
          <!-- <ul>
              <li class="accordion-item">
                  <a href="" class="item-link item-content bg-green color-white">
                      <div class="item-inner">
                          <div class="item-title">Richting / Pakket</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content">
                    <div class="richting_img">
                      <img src="http://ghk.h-cdn.co/assets/15/17/980x490/landscape-1429890420-new-york.jpg" alt="Richting/Pakket Image">
                    </div>
                    <div class="richting_text">
                      <h1>Titel</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugit tempora voluptas inventore animi eos beatae facere tenetur excepturi assumenda nostrum, necessitatibus, eum blanditiis quidem esse obcaecati eligendi, ratione sapiente.</p>
                    </div>
                  </div>
              </li>

              <li class="accordion-item">
                  <a href="" class="item-link item-content bg-green color-white">
                      <div class="item-inner">
                          <div class="item-title">Land &amp; Bosbouw</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content">
                    <div class="richting_img">
                      <img src="http://ghk.h-cdn.co/assets/15/17/980x490/landscape-1429890420-new-york.jpg" alt="Richting/Pakket Image">
                    </div>
                    <div class="richting_text">
                      <h1>Beroepsbeeld</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugit tempora voluptas inventore animi eos beatae facere tenetur excepturi assumenda nostrum, necessitatibus, eum blanditiis quidem esse obcaecati eligendi, ratione sapiente.</p>
                    </div>
                  </div>
              </li>

              <li class="accordion-item">
                  <a href="" class="item-link item-content bg-green color-white">
                      <div class="item-inner">
                          <div class="item-title">Q1-Pakket</div>
                      </div>
                  </a> 
                  <div class="accordion-item-content">
                    <div class="richting_text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam fugit tempora voluptas inventore animi eos beatae facere tenetur excepturi assumenda nostrum, necessitatibus, eum blanditiis quidem esse obcaecati eligendi, ratione sapiente.</p>
                    </div>
                  </div>
              </li>
          </ul> -->
      </div>

		</div>

    <div class="toolbar toolbar-bottom tabbar">
      <div class="toolbar-inner">
        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
      </div>
    </div>

</div>