<div data-page="scholen_startpagina" class="page">

		<!-- Top Navbar-->
		<div class="navbar">
	      <div class="navbar-inner">
	        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
	        <div class="center" id="school_naam">School</div>
	        <div class="right"><a href="#" class="link icon-only open-panel" data-panel="right"><i class="icon ion-android-menu"></i></a></div>
	      </div>
	    </div>

		<div class="page-content">

			<!-- swiper slider -->
				<div class="swiper-container swiper_scholen_startpagina">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="dir/img/msp/img1.jpg" class="multi_slide"></div>
						<div class="swiper-slide"><img src="dir/img/msp/img2.jpg" class="multi_slide"></div>
						<div class="swiper-slide"><img src="dir/img/msp/img3.jpg" class="multi_slide"></div>
						<div class="swiper-slide"><img src="dir/img/msp/img4.jpg" class="multi_slide"></div>
					</div>
				</div>

				<div class="list-block media-list">
						<ul id="scholen_nieuws">
							<!-- append school nieuws hier -->
						</ul>
				</div> 
				
		</div>

		<div class="toolbar toolbar-bottom tabbar">
	      <div class="toolbar-inner">
	        <a href="views/advertentie.html" class="link img_icon with_border_right"><img src="dir/img/gift.png"></a>
	        <a href="views/bos.html" class="link img_icon with_border_right"><img src="dir/img/logobos.png"></a>
	        <a href="views/msp_nieuws.html" class="link"><i class="icon ion-android-home"></i></a>
	      </div>
	    </div>

</div>