<div data-page="student_verificatie" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Student Verificatie</div>
      </div>
    </div>

    	<div class="page-content">
			
			<div class="activeer">
				<div class="list-block inset">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-ios-barcode-outline"></i></div>
								<div class="item-inner">
									<div class="item-input">
									  <input type="number" placeholder="Verificatie code" id="verification_code">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="content-block">
					<a href="" id="verifieer" class="button button-fill color-red">Bevestig</a>	
				</div>
			</div>

			<div class="geactiveerd" style="display: none">
				<div class="content-block">
					<p class="text_center color-red">U staat al geregistreerd als student</p>
					<p class="text_center color-green" style="font-size: 6em;"><i class="ion-checkmark"></i></p>
				</div>
			</div>
			

		</div>
</div>