<div data-page="studievervoer_aanvraag" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">School Vervoer Aanvraag</div>
        <div class="right">
          <a href="" class="link icon-only open-popup" data-popup=".popup-aanvraag-hulp">
            <i class="icon ion-help-circled"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="page-content">
      
      <div class="content-block-title">Persoonlijke informatie</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-android-person"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input id="voornaam" type="text" placeholder="Voornaam">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-android-person"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input id="achternaam" type="text" placeholder="Achternaam">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-media"><i class="ion-ios-calendar-outline"></i></div>
              <div class="item-inner">
                <div class="item-title label">Geboren op</div>
                <div class="item-input">
                  <input type="date" id="geboortedatum" placeholder="Geboortedatum" value="">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-man"></i><i class="icon ion-woman"></i></div>
              <div class="item-inner">
                <div class="item-title label">Geslacht</div>
                <div class="item-input">
                  <select id="geslacht">
                    <option value="">Kies</option>
                    <option value="man">Man</option>
                    <option value="vrouw">Vrouw</option>
                  </select>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-android-globe"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input id="nationaliteit" type="text" placeholder="Nationaliteit">
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="content-block-title">School informatie</div>
      <div class="list-block">
        <ul>
          <li>
              <div class="item-content">
                <div class="item-media"><i class="icon ion-easel"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <select id="school">
                        <option>Kies een school</option>
                        <option class="vwo" value="5">Mr.Dr.J.C de Miranda Lyceum</option>
                        <option class="vwo" value="3">Algemene Middelbare School</option>
                        <option class="vwo" value="4">Ewald P,Meyer Lyceum</option>
                        <option class="natin" value="1">Natuur Technisch Instituut</option>
                        <option class="havo" value="6">Openbaar  Atheneum (HAVO-3)</option>
                        <option class="havo" value="2">Openbaar   Atheneum (HAVO-1)</option>
                    </select>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon ion-pound"></i></div>
                <div class="item-inner">
                  <div class="item-input">
                    <input id="klas" type="text" placeholder="Klas, voorbeeld: 1.27">
                  </div>
                </div>
              </div>
            </li>
        </ul>
      </div>

      <div class="content-block-title">Contact gegevens</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-android-call"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input id="nummer" type="number" placeholder="Mobielnummer">
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon ion-android-mail"></i></div>
              <div class="item-inner">
                <div class="item-input">
                  <input id="email" type="email" placeholder="Email">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="content-block agreement inset">
        <div class="content-block-inner">
          <p class="text_center"><a href="" class="button open-popup" data-popup=".popup-aanvraag-voorwaarde">Voorwaarde</a></p>
          <a id="versturen" class="button button-fill bg-green">Versturen</a>
        </div>
      </div>
    </div>
</div>