<div data-page="termsofuse" class="page">

    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="link back icon-only"><i class="icon ion-android-arrow-back"></i></a></div>
        <div class="center">Terms Of Use</div>
      </div>
    </div>

    	<div class="page-content">
        
        <div class="content-block inset">
          <div class="content-block-inner">
            <h1>The Terms!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis atque et doloremque error quam quo, corrupti, harum tempore expedita itaque veritatis illum sunt, optio ducimus saepe accusamus quis mollitia assumenda.</p>
          </div>
        </div>

		</div>

</div>