#app-start-overlay{
  position: fixed;
  background-color: #f44336;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body.with-panel-left-reveal .views, body.with-panel-right-reveal .views{
  box-shadow: none;
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}
.accordion-item ul{
  list-style: square outside none !important;
  padding-left: 20px !important;
}
.modal{
  box-shadow: none;
}
.about{
  margin-bottom: 50px !important;
}
.gear{
  font-size: 80px;
  position: absolute;
  z-index: 2000;
  top: 20%;
  left: 48%;
  color: #F44336;
  -webkit-animation: spin 8s infinite linear; /* Chrome, Safari, Opera */
    animation: spin 8s infinite linear;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*status bar color*/
.statusbar-overlay{
  background: #f44336;
}
.item-media img{
  width: 24px;
  height: auto;
  float: left;
}
.login_modal_input{
  color: #fff !important;
}
/*switch (checkboxes) color*/
.label-switch input[type=checkbox]:checked+.checkbox {
    background: #ff3b30;
}
/*modal button text colors*/
.modal-button{
  color: #f44336
}
.text_uppercase{
  text-transform: uppercase;
}
.text_capitalize{
  text-transform: capitalize;
}
.text_center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.aanmelden{
  margin-top: 100px;
}
.icon{
  font-size: 24px;
}
.toolbar-icon{
  font-size: 2em;
}
.drawer .item-inner:after{
  background: rgba(76, 175, 80, .4);
}
.img_icon img{
	width: auto;
	height: 60%;
}
.panel_img_icon img{
  width: 21px;
  height: auto;
}
.swiper_msp .swiper-slide img{
  width: 100%;
  height: auto;
}
.nieuws_lijst{
  padding-bottom: 30px;
}
.nieuws_detail_image{
  width: 300px;
  height: 200px;
  margin: 10px auto;
}
.nieuws_detail_image img{
  width: auto;
  height: 100%; 
}
.aanmelden_img img{
  width: 100%;
  height: auto;
}
.with_border_right{
  border-right: 1px solid rgba(0,0,0,0.2);
}
.scholen_naam{
  text-align: center;
  font-weight: bold;
  color: #333;
}
.scholen-logo{
  width: 30%;
  height: auto;
  margin-left: 35%;
  padding: 2%;
}
.natin{
  background-color: #278546;
}
.havo3{
  background-color: #fff333;
}
.havo1{
  background-color: #dddddd;
}
.lyco1{
  background-color: #546e7a;
}
.lyco2{
  background-color: white;
}
.ams{
  background-color: #5856D6;
}
.vinger{
  font-size: 3em;
  position: absolute;
  z-index: 2000;
  top: 10%;
  left: 45%;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: vinger 6s; /* Chrome, Safari, Opera */
    animation: vinger 6s;
}
@-webkit-keyframes vinger{
    10%  {opacity:0; left:20%; -webkit-transform: scale(1,1);}
    30%  {opacity:1; visibility: visible; left:70%; -webkit-transform: scale(1,1);}
    60%  {opacity:0; left:20%; -webkit-transform: scale(1,1);}
    61%  {opacity: 0; left: 45%; -webkit-transform: scale(1,1);}
    65%  {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    70% {opacity:1; left: 45%; -webkit-transform: scale(1.3,1.3);}
    75% {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    80% {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    100% {opacity:0; left: 45%; -webkit-transform: scale(1,1);}
}
@keyframes vinger {
   10%  {opacity:0; left:20%; -webkit-transform: scale(1,1);}
    30%  {opacity:1; visibility: visible; left:70%; -webkit-transform: scale(1,1);}
    60%  {opacity:0; left:20%; -webkit-transform: scale(1,1);}
    61%  {opacity: 0; left: 45%; -webkit-transform: scale(1,1);}
    65%  {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    70% {opacity:1; left: 45%; -webkit-transform: scale(1.3,1.3);}
    75% {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    80% {opacity:1; left: 45%; -webkit-transform: scale(1,1);}
    100% {opacity:0; left: 45%; -webkit-transform: scale(1,1);}
}
.advertentie p{
  padding-top: 4%;
  font-size: 1.3em;
  font-weight: normal;
  text-transform: capitalize;
}
.aanmelden_block{
  margin-top: 20% !important;
}
.multi_slide{
  width: 100%;
  height: auto;
}
.event_head, .event_footer{
  padding: 0 !important;
}
.event_footer .row{
  width: 100%;
  font-size: 12px !important;
}
.event_list .item-inner{
  margin-left: 0 !important;
}
.richting_img{
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.richting_img img{
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 330px;
}
.img-wrap{
  overflow: hidden;
  max-height: 250px;
}
.error{
  font-size: .8em;
  text-align: center;
  margin-top: 0;
}